{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'webapp:product_list_view' %}">ProductList</a>
</li>
    {% if user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'webapp:product_update_view' product.pk %}">Update</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'webapp:product_delete_view' product.pk %}">Delete</a>
</li>
    {% endif %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'webapp:product_basket_list_view' %}">Basket</a>
</li>
{% endblock %}

{% block content %}
    <p>product: {{ product.product }}</p>
    <p>price: {{ product.price }}</p>
    <p>description: {{ product.description }}</p>
    <p>balance: {{ product.balance }}</p>
    <p>category: {{ product.category }}</p>

    <a href="{% url 'webapp:product_basket_add_view' product.pk %}">
        <button type="button">To Basket</button></a>
    <form action="{% url 'webapp:add_multiple_product_basket_view' product.pk %}" method="get" >
        <label>
            <input type="number" name="product_quantity" style="width: 50px">
        </label>
        <input type="submit" value="items to basket">
    </form>
{% endblock %}