{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'product_list_view' %}">ProductList</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'product_update_view' product.pk %}">Update</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'product_delete_view' product.pk %}">Delete</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'product_basket_add_view' product.pk %}">To Basket</a>
</li>
{% endblock %}

{% block content %}
    <p>product: {{ product.product }}</p>
    <p>price: {{ product.price }}</p>
    <p>description: {{ product.description }}</p>
    <p>balance: {{ product.balance }}</p>
    <p>category: {{ product.category }}</p>
{% endblock %}