{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'webapp:product_create_view' %}">CreateProduct</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'webapp:product_basket_list_view' %}">Basket</a>
</li>
{% endblock %}

{% block search %}
      <form class="d-flex" method="get">
      {% include 'partial/search_form.html' %}
{#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success" type="submit">Search</button>#}
      </form>
{% endblock %}


{% block content %}
{% for product in products %}
    <p>
    <a href="{% url 'webapp:product_detail_view' product.pk %}">
    {{ product.product }}: {{ product.price }} сом. В наличии: {{ product.balance }}
    </a> ***
    <a href="{% url 'webapp:product_update_view' product.pk %}">Update</a> |
    <a href="{% url 'webapp:product_delete_view' product.pk %}">Delete</a>
    <a href="{% url 'webapp:product_basket_add_view' product.pk %}">

        <button type="button">To Basket</button></a>
{#    <form action="{% url 'webapp:add_multiple_product_basket_view' product.pk %}" method="get" >#}
{#        <label>#}
{#            <input type="number" name="product_quantity" style="width: 50px">#}
{#        </label>#}
{#        <input type="submit" value="items to basket">#}
{#    </form>#}
    </p>
{% endfor %}

{% include 'partial/pagintation.html' %}

{% endblock %}