{% extends 'base.html' %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'product_list_view' %}">ProductList</a>
</li>
{% endblock %}

{% block content %}
    <h3>Products in Basket</h3>

    {% for product in productbasket_list %}
    <div>
    {{ product.product.product }} : {{ product.product.price }} сом
{#        <input type="number" name="{{ product.product.product }}" value="{{ product.volume }}">#}
        ***
    {% for sum in summ %}
        {% if sum.p_id == product.id %}
        количество: {{ sum.vol }} | Сумма: {{ sum.total }}
        {% endif %}
    {% endfor %}
    <a href="{% url 'product_basket_delete_view' product.pk %}">
        <button type="button">Delete</button></a>
    </div>
    {% endfor %}
    <h5>Итого {{ total }}</h5>
    <form action="{% url 'order_create_view' %}" method="post">
    {% csrf_token %}
        <p>name: <input type="text" name="username"></p>
        <p>phone: <input type="number" name="phone"></p>
        <p>address: <input type="text" name="address"></p>
        <input type="submit" value="Оформить заказ">
        <input type="hidden" name="productbasket_list" value="{{ productbasket_list }}">
    </form>

{% endblock %}